@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@import '../../public/photon/css/photon.min.css';

/**
* Less Variables
*/

@white: #fff;
@black: #000;
@bg: #f8f8f8;
@grey: #999;
@dark: #1a1a1a;
@light: #e6e6e6;
@wrapper: 1000px;
@blue: #00b0ff;
@color0: #eceff1; // Appears 2 times
@color1: #00b0ff; // Appears 2 times

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.chatron-logo {
  margin-bottom: 30px;
}

html, body {
  text-align: center;
  background-color: #00B0FF;
}

a {
  color: #00B0FF
}

/**
* Login/Signup Form
*/

.form {
  text-align: center;
  position: fixed;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	backface-visibility: hidden;
	background: #ffffff;
	box-shadow: 3px 3px 32px rgba(0, 0, 0, 0.25);
	margin: 0;
	position: absolute;
	width: 400px;
  img {
    margin-botton: 30px;
  }
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  input.form__element {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
  }
  .form__button {
    margin-top: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #2196f3;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    &:focus,
    &:hover {background-color: darken(#2196f3, 13%);}
  }
}

.form__link {
  display: block;
  text-align: center;
  margin-top: 15px;
}

/**
* FriendsList
*/

.list-group-header {
  input {
    margin-top: 10px;
  }
}
